html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    letter-spacing: 0.05em;
    line-height: 1.2;
}



article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
   
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden; /* Evitar rolagem horizontal */
    
}






:root {
    --cor-primaria: #fff; 
    --cor-secundaria: #000; 
    --cor-terciaria: #43DD8B;
}

.conatinerMestre{
   display: flex;
   flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}


h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.3rem;
    color: var(--cor-primaria);
    font-weight: 500;
   
}


p {
    margin-top: 1rem;
    color: var(--cor-primaria);
    font-weight: 300;
    line-height: 1.2;
    font-size: 16.5px;
}

h2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

 h3{
    font-weight: 800;
    margin-bottom: 5px;
}

h5{
    text-align: start;
    width: 350px;
    color: var(--cor-primaria);
    font-size: 15px;
    margin-bottom: 20px;
}

button{
    background-color: #2CA83D;
    color: var(--cor-primaria);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}


button:hover{
    cursor: pointer;
}

@media (max-width: 768px){

   
    h1 {
        font-size: 1.3rem;
        font-weight: 800;
    }

    p{
        width: 260px;
        font-size: 12px;
    }

    h2{
        width: 260px;
        font-size: 19px;
        font-weight: 800;
    }

    button{
        font-size: 10px;
        border-radius: 10px;
    }    

}


.bg01{
    height: 100%;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
}



.headTop{
    margin-top: 1.8rem;
}

.headTop h1 strong {
    font-weight: 700;
}



.headTop p strong {
    font-weight: 600; 
}





.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: var(--cor-primaria);
}


.video-p1{
    margin-top: 10px;
    font-weight: 800;
    font-size: 12px;
}

.video-p2{
    margin-top: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 10px;
    font-size: 11px;
    font-weight: 800;
    border-radius: 50px;
}

iframe{
    width: 560px;
    height: 315px
}

@media (max-width: 1200px){

 .headTop{
    width: 85%;
 }

   
}


@media (max-width: 768px){
    
    .headTop{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
    }
   
    .headTop h1 strong {
        font-weight: 900;
    }


    .video-container{
        display: flex;
        justify-content: center;
        width: 400px;
        height: 150px;
        margin-bottom: 8rem;
    }

    iframe{
        width: 450px;
    }

    .video-p2{
        font-size: 8px;
    }

   
}




















.bg02{
    height: 100%;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
}

.certificado{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.certificado .mais{
    width: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--cor-primaria);
    margin-bottom: 1.5rem;
}

.certificado .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
}

.certificado .feed{
    text-align: center;
    width: 60%;
    font-weight: 400;
}


.certificado ul {
    display: flex;
    margin: 2rem;
    margin-bottom: 2rem;
}

.certificado ul li img{
    width: 30rem;
    margin: 10px;
    border-radius: 10px;
}

.certificado .p{
    margin-top: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 10px;
    font-size: 11px;
    font-weight: 800;
    border-radius: 50px;
}


@media (max-width: 1000px){

    .certificado ul {
        display: flex;
        flex-direction: column;
    }

    .certificado .text{
        width: 750px;
    }

    .certificado .p{
        font-size: 8px;
    }

   
}


@media (max-width: 768px){
    .certificado{
        text-align: center;
    }

    .certificado ul {
        display: flex;
        flex-direction: column;
        margin-bottom: -1rem;
    }

    .certificado ul li img{
        width: 15rem;
        margin: 10px;
        border-radius: 10px;
    }

    .certificado .text{
        width: 360px;
        margin-bottom: -1rem;
    }

}


.conatinerPreco{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    margin: 10px auto 17px;
    color: #000000; /* Cor da seta */
    background-color: #f32100; /* Cor do fundo */
    border-radius: 50%;
    font-size: 24px; /* Tamanho da seta */
}

.conatinerPreco a{
    text-decoration: none;
    text-align: center;
    background-color: #2CA83D;
    color: var(--cor-primaria);
    padding: 20px;
    font-weight: 700;
    border-radius: 10px;
}



.img-pagamento{
    margin-top: 2rem;
}

.line-above {
    position: relative;
    display: inline-block;
    text-decoration: line-through;
}

.line-above::before {
    content: '';
    position: absolute;
    top: -10px; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    height: 2px; /* Espessura da linha */
    background-color: black; /* Cor da linha */
}

.strong00{
    color: white;
    font-size: 25px;
}
.strong01 {
    font-size: 50px;
    color: #43DD8B;
}

.strong02 {
    font-size: 25px;
   
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #43DD8B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #3bcb79; /* Cor de fundo ao passar o mouse */
}

.img-pagamento img{
    margin-bottom: 5rem;
    
}

@media (max-width: 968px){
    .strong00{
        width: 80%;
        font-size: 25px;
    }
}

@media (max-width: 768px){

    .strong00{
        width: 50%;
        font-size: 20px;
    }
    

    .conatinerPreco{
        width: 80%;
    }

   

    .strong01{
        font-size: 35px;
    }

    .strong02{
        font-size: 10px;
    }

    .img-pagamento img{
        width: 280px;
    }
  
    .cta-button{
        width: 280px;
        font-size: 15px;
    }

}




.bg03 {  
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.bg03logo{
    width: 150px;
    margin-top: 5rem;
   
}

.bg03 p{
    color: #000;
}

.bg03 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.bg03 .imgs {
    display: flex;
    justify-content: center;
}

.imgs img{
    width: 200px;
    margin: 20px;
    border-radius: 10px;
}



.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-slide {
    display: flex;
}

.slider-slide img {
    width: 100%; 
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}




@media (max-width: 968px){

    .bg03 .container{
        width: 70%;
    }

    .bg03 .container .text{
        width: 450px;
    }
    
    .bg03 .imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imgs img{
        width: 250px;
        margin: 20px;
        border-radius: 10px;
    }

}

@media (max-width: 680px){
    .bg03 .container .text{
        width: 350px;
    }

    .conatinerPreco .strong00{
        width: 280PX;
        font-weight: 800;
        font-size: 25px;
    } 
    
}


/* style.css */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.wrapper i {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #161616;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.1s linear;
    bottom: -40px; /* Posiciona os botões abaixo do carrossel */
}

.wrapper i:active {
    transform: scale(0.85);
}



.wrapper i:first-child {
    left: calc(50% - 100px); /* Posiciona o botão esquerdo mais próximo do centro */
}

.wrapper i:last-child {
    right: calc(50% - 100px); /* Posiciona o botão direito mais próximo do centro */
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 8px); /* Ajustar para 4 imagens visíveis e diminuir espaçamento */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px; /* Diminuir espaçamento entre as imagens */
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.wrapper button{
    background-color: #646464;
    font-weight: 500;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 25px;
    color: var(--cor-primaria);
}

.wrapper button:hover{
    background-color: #272626;
}



.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card img {
    width: 240px;
    height: 340px;
    object-fit: cover;
    box-shadow: #000;
    border-radius: 10px;
}


.btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(72, 175, 72);
    color: var(--cor-primaria);
    font-size: 20px;
    width: 400px;
    border-radius: 10px;
    border-color: #b3aeae;
    margin-bottom: 20px;
}




@media screen and (max-width: 900px) {

    .wrapper .carousel {
        grid-auto-columns: calc(50% - 8px); 
    }

    .wrapper i:first-child {
        left: 10px; /* Ajusta a posição para telas menores */
    }

    .wrapper i:last-child {
        right: 10px; /* Ajusta a posição para telas menores */
    }
}

/* Ajustes para telas menores que 600px */
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%; /* Ajustar para 1 imagem visível */
    }

    .wrapper i:first-child {
        left: 10px; /* Ajusta a posição para telas menores */
    }

    .wrapper i:last-child {
        right: 10px; /* Ajusta a posição para telas menores */
    }

    .btn {
        font-size: 15px;
        width: 250px;
    }
}

.bg04 {
    display: flex;
    flex-direction: column;
    background-color: #000000; /* Cor de fundo da seção */
    padding: 40px; /* Espaçamento interno */

}

.bg04section{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg04section .container{
    display: flex;
}



.bg04 ul {

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.bg04 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.bg04 ul li .textCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.bg04 ul li .textCircle p {
    position: absolute;
    background-color: #47DD7F;
    width: 4px;
    height: 70px;
    margin: 0;
    z-index: 99px;
}

.bg04 ul li .textCircle img {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #47DD7F;
    border-radius: 50%;
    z-index: 1;
}

.bg04 ul li h5 {
    margin: 0;
}







@media screen and (max-width: 800px) {
    .bg04{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg04section{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .bg04section ul li h5{
        font-size: 10px;
        width: 180px;
    }
    
}

.bg04section .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cortes{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container .cortes h2 {
    margin-bottom: 20px;
    margin-top: 5rem;
    font-size: 20px;
}

.cortesimg1, .cortesimg2, .cortesimg3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.cortesimg1 .grupcortes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cortesimg1 .grupcortes .cortesTexto{
    margin-top: -10px;
    background-color: var(--cor-primaria);
    padding: 0;
    width: 280px;
    color: var(--cor-secundaria);
    border-radius: 50px;
}

.cortes img {
    border: 2px dashed #ffffff; 
    width: 90%;
}

.cortes .cortesTexto{
    color: var(--cor-primaria);
}



@media screen and (max-width: 1000px) {

    

    .bg04section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cortesimg1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cortes img {
        border: 2px; 
        max-width: 500px;
        height: auto;
    }
    .cortesimg1 .grupcortes .cortesTexto{
        font-size: 15px;
        width: 210px;
    }
}

@media screen and (max-width: 600px) {

    

    .cortesimg1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grupcortes{
        margin-bottom: 10px;
    }

    .cortes img {
        border: 2px; 
        max-width: 200px;
        height: auto;
    }
    
    .cortesimg1 .grupcortes .cortesTexto{
        font-size: 15px;
        width: 210px;
    }


    
    
}




.bg05{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1D1D;
    width: 100%;
}

.bg05 .container{
   margin-top: 50px;
}



.galery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #1D1D1D;
}

.card2, .card1, .card3 {
    width: 100%;
    position: relative; /* Adicione esta linha para permitir o posicionamento da faixa */
    overflow: hidden; /* Adicione esta linha para cortar o conteúdo que excede os limites */
}

.grupImg {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    height: 550px;
    position: relative;
}

.grupImg h3, .grupImg p, .grupImg strong {
    width: 80%;
    margin: 10px 0;
    color: var(--cor-secundaria);
}

.grupImg h3{
    font-size: 20px;
}

.grupImg img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
    border-radius: 12px;
}

.galery div:nth-child(1) .grupImg img,
.galery div:nth-child(2) .grupImg img,
.galery div:nth-child(3) .grupImg img,
.galery div:nth-child(4) .grupImg img{
    width: 250px;
    height: 250px;
}

.galery div:nth-child(5) .grupImg img,
.galery div:nth-child(6) .grupImg img,
.galery div:nth-child(7) .grupImg img{
    margin-top: -15px;
    margin-bottom: -25px;
    width: 280px;
    height: 280px;
}


.grupImg p{
    margin-top: 20px;
    width: 100%;
    font-weight: 350;
}


.card2::after {
    width: 160px;
    content: '+2 Aula Bônus'; /* Texto da faixa */
    position: absolute;
    top: 110px;
    right: -25px;
    background-color: #3bcb79; /* Cor de fundo da faixa */
    color: white; /* Cor do texto da faixa */
    padding: 5px 10px;
    font-size: 8px;
    transform: rotate(45deg);
    transform-origin: top right;
}

.card1::after {
    width: 160px;
    content: '+1 Aula Bônus'; /* Texto da faixa */
    position: absolute;
    top: 110px;
    right: -25px;
    background-color: #3bcb79; /* Cor de fundo da faixa */
    color: white; /* Cor do texto da faixa */
    padding: 5px 10px;
    font-size: 8px;
    transform: rotate(45deg);
    transform-origin: top right;
}

.card3::after {
    width: 160px;
    content: 'Bônus exclusivo';
    position: absolute;
    top: 110px;
    right: -25px;
    background-color: #3bcb79; /* Cor de fundo da faixa */
    color: white; /* Cor do texto da faixa */
    padding: 5px 10px;
    font-size: 10px;
    transform: rotate(45deg);
    transform-origin: top right;
}

@media screen and (max-width: 900px) {
    .galery {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    .galery div{
        display: flex;
        width: 280px;
    }

    
     
}

@media screen and (max-width: 600px) {
    .galery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .grupImg img {
        width: 100%;
        height: auto;
    }
}


.card4{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    height: 430px;
    width: 350px;
    position: relative;
}

.card4 .gruptext{
    display: flex;
    width: 350px;
    text-align: start;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.gruptext:last-child {
    border-bottom: none; 
}




.bg06{
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
}


.galery-tuotrial{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.grupImg-tuotrial{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 15px;
    background-color: var(--cor-primaria);
    padding: 20px;
}

.grupImg-tuotrial img{
    width: 200px;
}


@media screen and (max-width: 600px) {
    .galery-tuotrial{
        display: flex;
        flex-direction: column;
    }
}



.bg07{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg07 .container .bg07text{
    display: flex;
    
    justify-content: center;
    margin-top: 40px;
    
}

.bg07 .container .bg07text div{
    flex: 1;
}

.bg07 .container .bg07text div img{
    margin-top: 20px;
    width: 450px;
}

.bg07 .container .bg07text div p{
    font-size: 10px;
    
}


@media screen and (max-width: 900px) {
    .bg07 .container .bg07text div{
        width: 380px;
    }
    .bg07 .container .bg07text{
        flex-direction: column;
        align-items: center;

    }

    .bg07 .container .bg07text .textbg07{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg07 .container .bg07text div img{
        width: 350px;
    }
}



.bg08{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg08 .container h2{
    color: var(--cor-secundaria);
    font-size: 25px;
    margin-top: 30px;
}

.bg08 .container .imgsbg08 img{
    width: 180px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}



@media screen and (max-width: 900px){
    .bg08 .container .imgsbg08{
        display: flex;
        flex-direction: column;
    }
}


.bg09{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
}

.bg09 .strongbg09{
    color: #fff; 
    width: 650px; 
    font-size: 25px;
}

.cadrs {
    width: 80%;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;

}

.cadrs .card {
    flex: 0 1 calc(30% - 10px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    box-sizing: border-box; 
    height: 350px;
    
}

.cadrs .card img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

.cadrs .card strong {
    color: #212529;
    text-align: center;
    font-size: 20px; 
    margin-top: 10px; 
}


@media (max-width: 900px) {

    .cadrs{
        width: 600px;
    }
    .cadrs .card {
        flex: 0 1 calc(45% - 10px); /* Em telas médias, os cards ocupam 45% da largura */
    }

    .bg09 .strongbg09{
        font-size: 15px;
        width: 350px;
    }
}


@media (max-width: 600px) {
    .cadrs{
        width: 400px;
    }
    .cadrs .card {
        flex: 0 1 calc(50% - 20px); /* Em telas pequenas, os cards ocupam 50% da largura */
        padding: 10px; /* Ajustar padding para menor */
        margin: 5px; /* Reduzir a margem */
       
    }
    .cadrs .card img {
        width: 80px; /* Tamanho da imagem menor */
    }
    .cadrs .card strong {
        font-size: 12px; /* Tamanho da fonte menor */
    }
}


.bg10{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg10 .strong01bg10{ 
    color: #313131; 
    width: 90%; 
    font-size: 28px; 
    margin-top: 60px;
}

.bg10 .fas-bg10{
    background-color: red;
    color: var(--cor-primaria);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin: 20px;
}

.bg10 .img-pagamentobg10 img{
    margin: 20px;
    display: flex;
    width: 280px;
}

.bg10 .box-contador{
    width: 500px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg10 .contandor{
    display: flex;
}

.bg10 .time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bg10 .time-texto {
    
    width: 300px;
}

.bg10 .time-texto strong{
    color: var(--cor-primaria);
    font-size: 8PX;
    font-weight: 500;
   margin-left: 25px;
}

.bg10 .time-icons{
    color: var(--cor-primaria);
    font-size: 10px;
    margin: 20px;
}

.bg10 .time .boxs{
    width: 50px;
    height: 50px;
    font-size: 12PX;
    color: RED;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0px 8px;
}






@media (max-width: 900px){
    .bg10 .strong01bg10{
        font-size: 10px;
        width: 280px;
    }
    .bg10 .box-contador{
        width: 350px;
    }
}

.bg11{
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg11 .container .bg11text{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
}


.bg11 .container .bg11text img{
    width: 150px;
    margin-right: 50px;
}

.bg11 .container .textbg11{
    display: flex;
    flex-direction: column;
}


.gb11 .btnbg11{
    background-color: #000;
    margin-top: 20px;
}


@media (max-width: 900px){
    .bg11 .container .bg11text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
 
    .imgbg11{
        padding-left: 40px;
    }
    

    .bg11 .container .textbg11{
        width: 350px;
    }
}




.bg12{
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ECECEC;
}

.bg12 h2{
    color: #000;
}

 .bg12 p{
    color: #000;
 }

 .bg12 .btn12-01{
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 

.bg12 .bnt12{
    display: flex;
    width: 85%;
    background-color: var(--cor-primaria);
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border: #000;
    margin-bottom: 3px;
}

.bg12 .bnt12 .btn12button{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 800px;
    color: #000;
    border: none;
    font-size: 12px;
    height: 27px;
    margin: 0;
    padding: 1;
    text-align: start;
   
}

.bg12 #mais01,
.bg12 #mais02,
.bg12 #mais03,
.bg12 #mais04,
.bg12 #mais05,
.bg12 #mais06,
.bg12 #mais07,
.bg12 #mais08,
.bg12 #mais09,
.bg12 #mais10,
.bg12 #mais11,
.bg12 #mais12,
.bg12 #mais13,
.bg12 #mais14,
.bg12 #mais15 {
    background-color: var(--cor-primaria);
    display: none;
    width: 810px;
    text-align: start;
    padding: 15px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 3px;
    padding-bottom: 30px;
}

.bg12 .mais-texto{
    font-weight: 500;
   
}


.bnt12 .seta {
    transform: rotate(90deg);
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.bnt12 .seta.rotated {
    transform: rotate(270deg);
}



@media (max-width: 900px){
    .bg12 .btn12-01{
        width: 40%;
     }

    .bg12 #mais01,
    .bg12 #mais02,
    .bg12 #mais03,
    .bg12 #mais04,
    .bg12 #mais05,
    .bg12 #mais06,
    .bg12 #mais07,
    .bg12 #mais08,
    .bg12 #mais09,
    .bg12 #mais10,
    .bg12 #mais11,
    .bg12 #mais12,
    .bg12 #mais13,
    .bg12 #mais14,
    .bg12 #mais15 {
            width: 305px;
        }
    }

.bg13{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg13 .a a{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 12px;
}

.bg13 .a a:hover{
    text-decoration: underline;
}

.bg13 .p{
    margin-top: 20px;
    background-color: var(--cor-secundaria);
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
   
}

.bg13 .p p{
    font-size: 10px;
    padding: 10px;
    margin-bottom: 20px;
}




.floating-div {
    position: fixed;
    display: flex;
    width: 280px;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    display: none; /* Começa oculto */
}


.floating-div img{
    width: 50px;
}


.floating-div strong{
    font-size: 10px;
}


