html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    letter-spacing: 0.05em;
    line-height: 1.2;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
   
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-secundaria);
    
}

.conatinerMestre{
    width: 90%;
}

.body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
   
}


:root {
    --cor-primaria: #fff; 
    --cor-secundaria: #000; 
    --cor-terciaria: #43DD8B;
}


.bg01{
    height: 100%;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}



.headTop{
    margin-top: 1.8rem;
}
.headTop h1 {
       margin: 0;
       padding: 0;
       list-style: none;
       font-size: 2.3rem;
       color: var(--cor-primaria);
       font-weight: 500;
      
}

.headTop h1 strong {
    font-weight: 700;
}

.headTop p{
    margin-top: 1rem;
    color: var(--cor-primaria);
    font-weight: 300;
    line-height: 1.2;
    font-size: 16.5px;
}

.headTop p strong {
    font-weight: 600; 
}





.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: var(--cor-primaria);
}


.video-p1{
    margin-top: 10px;
    font-weight: 800;
    font-size: 12px;
}

.video-p2{
    margin-top: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 10px;
    font-size: 11px;
    font-weight: 800;
    border-radius: 50px;
}


@media (max-width: 768px){
    .container{
        width: 90%;
    }
    .headTop h1 {
        font-size: 1.3rem;
        color: var(--cor-primaria);
        font-weight: 800;
        text-align: center;
       
    }
    .headTop h1 strong {
        font-weight: 900;
    }


    .headTop p{
        font-weight: 300;
        line-height: 1.2;
        font-size: 13.5px;
    }

    .video-container{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 200px;
        margin-bottom: 8rem;
    }

    iframe{
        width: 300px;
    }

    .video-p1{
        font-size: 11px;
    }
    
    .video-p2{
        width: 90%;
        text-align: center;
        padding: 10px;
        font-size: 8.6px;
    }

}




















.bg02{
    height: 100%;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
}

.certificado{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
}

.certificado .mais{
    width: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--cor-primaria);
    margin-bottom: 1.5rem;
}

.certificado h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.certificado .feed{
    text-align: center;
    width: 60%;
    font-weight: 400;
}

.certificado .p{
    margin-top: 0.5rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 10px;
    font-size: 9px;
    font-weight: 800;
    border-radius: 50px;
   
}


.certificado ul {
    display: flex;
    margin: 2rem;
    margin-bottom: 0;
}

.certificado ul li img{
    width: 33rem;
    margin: 10px;
    border-radius: 10px;
}


@media (max-width: 1200px){

    .certificado ul {
        display: flex;
        flex-direction: column;
    }

    .certificado .p{
        font-size: 8px;
    }
}


@media (max-width: 768px){
    .certificado{
        text-align: center;
    }

    .certificado h2{
        font-size: 20px;
    }

    .certificado p {
        width: 90%;
    }

    .certificado ul {
        display: flex;
        flex-direction: column;
    }

    .certificado ul li img{
        width: 15rem;
        margin: 10px;
        border-radius: 10px;
    }
    

}


.conatinerPreco h2{
   font-size: 30px;
   line-height: 45px;
   font-weight: 800;
   word-spacing: -2px
}


.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    margin: 10px auto 17px;
    color: #000000; /* Cor da seta */
    background-color: #f32100; /* Cor do fundo */
    border-radius: 50%;
    font-size: 24px; /* Tamanho da seta */
}

.conatinerPreco a{
    text-decoration: none;
    text-align: center;
    background-color: #2CA83D;
    color: var(--cor-primaria);
    padding: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.img-pagamento{
    margin-top: 2rem;
}

.line-above {
    position: relative;
    display: inline-block;
    text-decoration: line-through;
}

.line-above::before {
    content: '';
    position: absolute;
    top: -10px; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    height: 2px; /* Espessura da linha */
    background-color: black; /* Cor da linha */
}

.strong01 {
    font-size: 50px;
    color: #43DD8B;
}

.strong02 {
    font-size: 25px;
   
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #43DD8B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #3bcb79; /* Cor de fundo ao passar o mouse */
}

.img-pagamento img{
    margin-bottom: 5rem;
}

@media (max-width: 768px){

    .conatinerPreco{
        width: 80%;
    }

    .conatinerPreco h2 {
        margin-top: 2rem;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-align: center; 
        line-height: 25px;

    }

    .strong01{
        font-size: 25px;
    }

    .strong02{
        font-size: 15px;
    }

    .img-pagamento img{
        width: 280px;
    }
  

}




.bg03 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw; 
    background-color: white;
    padding: 20px;
}

.bg03logo{
    width: 150px;
    margin-top: 5rem;
}

.bg03 h2{
    font-size: 30px;
}

.bg03 h3{
    font-weight: 800;
}

.bg03 .imgs {
    display: flex;
    justify-content: center;
}

.imgs img{
    width: 250px;
    margin: 20px;
    border-radius: 10px;
}


/* style.css */
.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-slide {
    display: flex;
}

.slider-slide img {
    width: 100%; /* Largura de uma imagem */
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}




@media (max-width: 968px){

    .bg03 h2{
        font-size: 30px;
       
    }
    
    .bg03 h3{
        width: 100%;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    
    .bg03 .imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imgs img{
        width: 250px;
        margin: 20px;
        border-radius: 10px;
    }
    

}


/* style.css */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
}

.wrapper i {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #161616;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.1s linear;
    bottom: -40px; /* Posiciona os botões abaixo do carrossel */
}

.wrapper i:active {
    transform: scale(0.85);
}

.wrapper i:first-child {
    left: calc(50% - 100px); /* Posiciona o botão esquerdo mais próximo do centro */
}

.wrapper i:last-child {
    right: calc(50% - 100px); /* Posiciona o botão direito mais próximo do centro */
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 8px); /* Ajustar para 4 imagens visíveis e diminuir espaçamento */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px; /* Diminuir espaçamento entre as imagens */
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.wrapper button{
    background-color: #646464;
    font-weight: 500;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 25px;
    color: var(--cor-primaria);
}



.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card img {
    width: 240px;
    height: 340px;
    object-fit: cover;
    box-shadow: #000;
    border-radius: 10px;
}


.btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(72, 175, 72);
    color: var(--cor-primaria);
    font-size: 20px;
    width: 400px;
    border-radius: 10px;
    border-color: #b3aeae;
    margin-bottom: 20px;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 8px); /* Ajustar para 2 imagens visíveis e diminuir espaçamento */
    }

    .wrapper i:first-child {
        left: calc(50% - 100px); /* Ajusta a posição para telas menores */
    }

    .wrapper i:last-child {
        right: calc(50% - 100px); /* Ajusta a posição para telas menores */
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .wrapper i:first-child {
        left: calc(50% - 100px); /* Ajusta a posição para telas menores */
    }

    .wrapper i:last-child {
        right: calc(50% - 100px); /* Ajusta a posição para telas menores */
    }
    .btn{
        font-size: 15px;
        width: 250px;
    }
}


